literal 0
primitiveType 1
numericType 2
integralType 3
floatingPointType 4
referenceType 5
classOrInterfaceType 6
classType 7
classType_lf_classOrInterfaceType 8
classType_lfno_classOrInterfaceType 9
interfaceType 10
interfaceType_lf_classOrInterfaceType 11
interfaceType_lfno_classOrInterfaceType 12
typeVariable 13
arrayType 14
dims 15
typeParameter 16
typeParameterModifier 17
typeBound 18
additionalBound 19
typeArguments 20
typeArgumentList 21
typeArgument 22
wildcard 23
wildcardBounds 24
moduleName 25
packageName 26
typeName 27
packageOrTypeName 28
expressionName 29
methodName 30
ambiguousName 31
compilationUnit 32
ordinaryCompilation 33
modularCompilation 34
packageDeclaration 35
packageModifier 36
importDeclaration 37
singleTypeImportDeclaration 38
typeImportOnDemandDeclaration 39
singleStaticImportDeclaration 40
staticImportOnDemandDeclaration 41
typeDeclaration 42
moduleDeclaration 43
moduleDirective 44
requiresModifier 45
classDeclaration 46
normalClassDeclaration 47
classModifier 48
typeParameters 49
typeParameterList 50
superclass 51
superinterfaces 52
interfaceTypeList 53
classBody 54
classBodyDeclaration 55
classMemberDeclaration 56
fieldDeclaration 57
fieldModifier 58
variableDeclaratorList 59
variableDeclarator 60
variableDeclaratorId 61
variableInitializer 62
unannType 63
unannPrimitiveType 64
unannReferenceType 65
unannClassOrInterfaceType 66
unannClassType 67
unannClassType_lf_unannClassOrInterfaceType 68
unannClassType_lfno_unannClassOrInterfaceType 69
unannInterfaceType 70
unannInterfaceType_lf_unannClassOrInterfaceType 71
unannInterfaceType_lfno_unannClassOrInterfaceType 72
unannTypeVariable 73
unannArrayType 74
methodDeclaration 75
methodModifier 76
methodHeader 77
result 78
methodDeclarator 79
formalParameterList 80
formalParameters 81
formalParameter 82
variableModifier 83
lastFormalParameter 84
receiverParameter 85
throws_ 86
exceptionTypeList 87
exceptionType 88
methodBody 89
instanceInitializer 90
staticInitializer 91
constructorDeclaration 92
constructorModifier 93
constructorDeclarator 94
simpleTypeName 95
constructorBody 96
explicitConstructorInvocation 97
enumDeclaration 98
enumBody 99
enumConstantList 100
enumConstant 101
enumConstantModifier 102
enumBodyDeclarations 103
interfaceDeclaration 104
normalInterfaceDeclaration 105
interfaceModifier 106
extendsInterfaces 107
interfaceBody 108
interfaceMemberDeclaration 109
constantDeclaration 110
constantModifier 111
interfaceMethodDeclaration 112
interfaceMethodModifier 113
annotationTypeDeclaration 114
annotationTypeBody 115
annotationTypeMemberDeclaration 116
annotationTypeElementDeclaration 117
annotationTypeElementModifier 118
defaultValue 119
annotation 120
normalAnnotation 121
elementValuePairList 122
elementValuePair 123
elementValue 124
elementValueArrayInitializer 125
elementValueList 126
markerAnnotation 127
singleElementAnnotation 128
arrayInitializer 129
variableInitializerList 130
block 131
blockStatements 132
blockStatement 133
localVariableDeclarationStatement 134
localVariableDeclaration 135
statement 136
statementNoShortIf 137
statementWithoutTrailingSubstatement 138
emptyStatement 139
labeledStatement 140
labeledStatementNoShortIf 141
expressionStatement 142
statementExpression 143
ifThenStatement 144
ifThenElseStatement 145
ifThenElseStatementNoShortIf 146
assertStatement 147
switchStatement 148
switchBlock 149
switchBlockStatementGroup 150
switchLabels 151
switchLabel 152
enumConstantName 153
whileStatement 154
whileStatementNoShortIf 155
doStatement 156
forStatement 157
forStatementNoShortIf 158
basicForStatement 159
basicForStatementNoShortIf 160
forInit 161
forUpdate 162
statementExpressionList 163
enhancedForStatement 164
enhancedForStatementNoShortIf 165
breakStatement 166
continueStatement 167
returnStatement 168
throwStatement 169
synchronizedStatement 170
tryStatement 171
catches 172
catchClause 173
catchFormalParameter 174
catchType 175
finally_ 176
tryWithResourcesStatement 177
resourceSpecification 178
resourceList 179
resource 180
variableAccess 181
primary 182
primaryNoNewArray 183
primaryNoNewArray_lf_arrayAccess 184
primaryNoNewArray_lfno_arrayAccess 185
primaryNoNewArray_lf_primary 186
primaryNoNewArray_lf_primary_lf_arrayAccess_lf_primary 187
primaryNoNewArray_lf_primary_lfno_arrayAccess_lf_primary 188
primaryNoNewArray_lfno_primary 189
primaryNoNewArray_lfno_primary_lf_arrayAccess_lfno_primary 190
primaryNoNewArray_lfno_primary_lfno_arrayAccess_lfno_primary 191
classLiteral 192
classInstanceCreationExpression 193
classInstanceCreationExpression_lf_primary 194
classInstanceCreationExpression_lfno_primary 195
typeArgumentsOrDiamond 196
fieldAccess 197
fieldAccess_lf_primary 198
fieldAccess_lfno_primary 199
arrayAccess 200
arrayAccess_lf_primary 201
arrayAccess_lfno_primary 202
methodInvocation 203
methodInvocation_lf_primary 204
methodInvocation_lfno_primary 205
argumentList 206
methodReference 207
methodReference_lf_primary 208
methodReference_lfno_primary 209
arrayCreationExpression 210
dimExprs 211
dimExpr 212
constantExpression 213
expression 214
lambdaExpression 215
lambdaParameters 216
inferredFormalParameterList 217
lambdaBody 218
assignmentExpression 219
assignment 220
leftHandSide 221
assignmentOperator 222
conditionalExpression 223
conditionalOrExpression 224
conditionalAndExpression 225
inclusiveOrExpression 226
exclusiveOrExpression 227
andExpression 228
equalityExpression 229
relationalExpression 230
shiftExpression 231
additiveExpression 232
multiplicativeExpression 233
unaryExpression 234
preIncrementExpression 235
preDecrementExpression 236
unaryExpressionNotPlusMinus 237
postfixExpression 238
postIncrementExpression 239
postIncrementExpression_lf_postfixExpression 240
postDecrementExpression 241
postDecrementExpression_lf_postfixExpression 242
castExpression 243
identifier 244